doctype html
html
  head
    title GunnarAhlbom
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='/socket.io/socket.io.js')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="https://use.fontawesome.com/e58e7af208.js")
    style type='text/css'
      include css/main.css
    script
      include js/queryhandler.js
      include js/sockethandler.js

  body

    div(class="container")

      div(class="row")
        div(class="menu-accent dark-primary-color")
        nav(class="default-primary-color text-primary-color")
          div(class="nav-wrapper")
            a(href="/", class="brand-logo heavy-shadow") Church Election
            a(href="#", data-activates="mobile-navbar", class="button-collapse") 
              i(class="fa fa-bars", aria-hidden="true")

            ul(id="nav-mobile", class="right hide-on-med-and-down light-shadow")
              li
                a(href="/") Home
              li(class="active")
                a(href="/vote") Vote
              li
                a(href="/result") Result

            ul(class="side-nav", id="mobile-navbar")
              li
                a(href="/") Home
              li(class="active")
                a(href="/vote") Vote
              li
                a(href="/result") Result

      div(class="row")
        form(class="col s12", action="")
          div(class="row")
            div(class="input-field col s12")
              select(id="place")
                option(value="" disabled selected) Choose voting station
                option(value="Vasakyrkan") Vasakyrkan
                option(value="Masthuggskyrkan") Masthuggskyrkan
                option(value="Gårdstenskyrkan") Gårdstenskyrkan
                option(value="Kortedala kyrka") Kortedala kyrka
              label Place
            div(class="input-field col s12")
              select(id="party")
                option(value="" disabled selected) Choose party
                option(value="Arbetarepartiet-Socialdemokraterna") Arbetarepartiet-Socialdemokraterna
                option(value="Borgerligt alternativ") Borgerligt alternativ
                option(value="Centerpartiet") Centerpartiet
                option(value="Fria liberaler i Svenska kyrkan") Fria liberaler i Svenska kyrkan
                option(value="Frimodig kyrka") Frimodig kyrka
                option(value="Gabriel") Gabriel
                option(value="Kristdemokrater för en levande kyrka") Kristdemokrater för en levande kyrka
                option(value="Kyrklig samverkan i Visby stift") Kyrklig samverkan i Visby stift
                option(value="Miljöpartister i Svenska kyrkan") Miljöpartister i Svenska kyrkan
                option(value="Partipolitiskt obundna i Svenska kyrkan") Partipolitiskt obundna i Svenska kyrkan
                option(value="Seniorpartiet") Seniorpartiet
                option(value="Sverigedemokraterna") Sverigedemokraterna
                option(value="Vänstern i Svenska kyrkan") Vänstern i Svenska kyrkan
                option(value="Öppen kyrka – en kyrka för alla") Öppen kyrka – en kyrka för alla
              label Party
            div(class="input-field col s12")
              input(id="votes" placeholder="Vote count")
              br
              button(class="btn waves-effect waves-light") Save

